*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  background: url(stone.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
} 

.navbar{
  width: 1200px;
  height: 75;
  margin: auto;
}
.icon{
  width: 200px;
  float: left;
  height: 70px;
  font: bold;
}

.logo{
  color: #ff7200;
font-size: 50px;
font-family: arial;
padding-left: 20px;
float: left;
padding-top: 10px;
}
.manu{
  width: 400px;
  float: left;
  height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 15px;
  
}
ul li a{
  color:black;
  text-decoration: none;
  font-family: 'Arial';
  font-weight: bold;
  transition: 0.4s ease-in-out;
  
}
ul li a:hover{
  color: #ff7200;
}

.search{
  width: 300px;
  float: right;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 150px;
  height: 28px;
  background: transparent;
  border: 1px;
  margin-top: 13px;
  margin-left: 300px;
  color: white;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn{
  width: 90px;
  height: 45px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.btn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}
.content{
width: 1200px;
height: auto;
margin: 0 auto;
color: white;
position: relative;

}
.content .par{
padding-left: 6px;
padding-bottom: 25px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1.0px;
line-height: 30px;  
}

.content h1{
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 60px;
  padding-right: 20px;
  letter-spacing: 2px;
}
.content .cn{
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 4s ease;
}

.content.cn a{
text-decoration: none;
color: black;
transition: 3s ease;
} 

.cn a:hover{
  width: 20px;
  color:white;
}

.content span{
  color:#ff7200
}

.form{
  width: 250px;
  height: 370px;
  background: black;
  position: absolute;
  top: +180px;
  margin-left: 870px;
 border-radius: 15px;
 padding: 30px;
}

.form h2{
  width: 220px;
  font-family:sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: white;
  border-radius:10px;
  padding: 5px;
  margin-bottom: 2px;
}

.form input{
  width: 200px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-right: none;
  border-top: none;
  border-left: none;
  color: white;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 15px;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color:white;
  font-family:Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-family:sans-serif;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
}

.btnn:hover{
  background:white;
  color: #ff7200
}

.btnn a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.form .link{
  font-family: Arial;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form.link a{
  text-decoration: none;
  color: #ff7200
}

.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icons a{
  color: white;
  text-decoration: none;
}

.icons ion-icon{
  color: white;
  font-size:30px;
  padding-left:14;
  padding-top: 5px;
}

.icons ion-icon:hover{
  color: #ff7200;
}